<ol>
  <% @forms.each do |form| %>
      <li>
        <h1><%= link_to form.name, form_path(form) %></h1>
        <p><%= form.description %></p>
        <%= link_to 'Delete', form_path(form), data: { confirm: 'Are you sure?' }, method: :delete %>
      </li>
  <% end %>
</ol>
