$main-color: #009688;
$success: #DFF0D8;
@font-face {
  font-family: Roboto;
  src: url("assets/font/Roboto-Regular.woff");
}

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

pre {
  padding: .2rem .4rem;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

.bottom-margin {
  margin-bottom: 20px;
}

footer {
  background-color: $main-color !important;
  color: #ffffff !important;
  text-align: center !important;
}

.mdl-data-table {
  font-size: 14px !important;
}

.mdl-data-table th {
  text-align: center !important;
}

.mdl-data-table tr td .mdl-button {
  margin-right: 20px;
}

.text-center, .mdl-typography--text-center-custom {
  text-align: center !important;
}

.mdl-typography--text-left-custom {
  text-align: left !important;
}

.mdl-typography--text-right-custom {
  text-align: right !important;
}

.mdl-card__published-date {
  padding: 8px 16px;
  h6 {
    margin: 0px;
  }
}

span.select2.select2-container.select2-container--default {
  width: 60vw !important;
}

.calendar-card {
  .mdl-card__title {
    justify-content: center !important;
  }
  .mdl-card__supporting-text {
    width: 100% !important;
    padding: 0px !important;
    table {
      width: 100% !important;
      td.notmonth {
        color: #adadad;
      }
      td.today {
        background-color: $main-color;
        color: white;
      }
    }
  }
}

.success {
  background-color: $success;
  padding: 10px 15px;
  color: $main-color;
  border: 1px solid $main-color;
  border-radius: 5px;
}

label.selected img {
  border: 1px solid #000;
}

.js-masonry:after {
  content: '';
  display: block;
  clear: both;
}

.js-masonry .mdl-card {
  margin: 10px 5px;
  width: auto !important;
}

.flex-checkboxes {
  input[type=checkbox] {
    display: none;
  }
  label {
    display: inline;
    img {
      display: inline-flex;
      align-self: center;
      padding: 5px;
      vertical-align: middle;
      margin: auto auto !important;
    }
  }
}




//Search Bar Styles
/* TODO: Hover and Focus state.
 *       Fix position of mobile search button.
 */
.mdh-expandable-search {
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.mdh-expandable-search form {
  max-width: 1000px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
  /* Cross browser flex-grow */
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
  /* Cross browser inline-flex */
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* Position search icon */
.mdh-expandable-search .material-icons {
  position: relative;
  right: -40px;
  margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
}

.mdh-expandable-search input {
  outline: none;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: rgba(0,201,183,0.5);
  padding: 0px 35px 0px 70px;
  height: 40px;
  line-height: 40px;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #FFFFFF;
}
.mdh-expandable-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #FFFFFF;
  opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdh-expandable-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #FFFFFF;
  opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdh-expandable-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #FFFFFF;
}
