pre{
  padding: .2rem .4rem;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}
.bottom-margin{
  margin-bottom: 20px;
}
main{
  margin-bottom: 10%;
}
footer.page-footer{
  padding-top: 0px !important;
}