<div class="row">
  <h1 class="h1-responsive col-sm-10">All <%= controller_name.pluralize.titleize %></h1>
  <%= link_to 'New '+"#{controller_name.singularize}", new_path , class: 'btn btn-primary col' %>
</div>