<footer class="page-footer center-on-small-only fixed-bottom">
  <div class="footer-copyright">
    <div class="container-fluid text-center">
      &copy; <%= Time.current.year %> Copyright: <a href=""> Webmanager </a>
    </div>
  </div>
</footer>